// Inherit styles from temperature display for simple layout
@use "../temperature-display/temperature-display.component.scss" as temp-styles;

.gyro-display {
  @extend .temperature-display; // Extend base styles

  &__title {
    @extend .temperature-display__title;
  }

  &__data {
    // Placeholder style
    font-size: 0.9rem;
    color: #333;
    padding: 1rem 0;
  }

  &__values {
    // Example style if showing X,Y,Z
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-top: 0.5rem;

    span {
      flex-basis: 30%;
      text-align: center;
    }
  }

  &__nodata {
    @extend .temperature-display__nodata;
  }

  &__disconnected {
    @extend .temperature-display__disconnected;
  }
}
