<div class="gyro-display">
  <h3 class="gyro-display__title">Giroscopio (°/s)</h3>
  @if (isConnected()) {
  @if (latestSample(); as sample) {
  <div class="gyro-display__data">
    <div class="gyro-display__values">
      <span class="gyro-display__axis">X: {{ sample.x | number:'1.2-2' }}</span>
      <span class="gyro-display__axis">Y: {{ sample.y | number:'1.2-2' }}</span>
      <span class="gyro-display__axis">Z: {{ sample.z | number:'1.2-2' }}</span>
    </div>
  </div>
  } @else {
  <div class="gyro-display__nodata">Esperando datos...</div>
  }
  } @else {
  <div class="gyro-display__disconnected">Conecta el dispositivo para ver datos</div>
  }
</div>