<div class="gyro-display">
  <h3 class="gyro-display__title">Gyroscope (°/s)</h3>
  @if (isConnected()) {
    @if (gyroData(); as data) {
      <div class="gyro-display__data">
        <div class="gyro-display__values">
          <span>X: {{ data.samples[data.samples.length - 1].x | number:'1.2-2' }}</span>
          <span>Y: {{ data.samples[data.samples.length - 1].y | number:'1.2-2' }}</span>
          <span>Z: {{ data.samples[data.samples.length - 1].z | number:'1.2-2' }}</span>
        </div>
      </div>
    } @else {
      <div class="gyro-display__nodata">Waiting for data...</div>
    }
  } @else {
    <div class="gyro-display__disconnected">Connect device to see data</div>
  }
</div>