<div class="temperature-display">
  <h3 class="temperature-display__title">Temperature</h3>
  @if (isConnected()) {
    @if (temperatureData(); as data) {
      <div class="temperature-display__value">
        {{ data.measurement | number:'1.1-2' }} °C
      </div>
      <div class="temperature-display__timestamp">
        Last updated: {{ data.timestamp | date:'mediumTime' }} <!-- Assuming timestamp is ms -->
      </div>
    } @else {
      <div class="temperature-display__nodata">Waiting for data...</div>
    }
  } @else {
    <div class="temperature-display__disconnected">Connect device to see data</div>
  }
</div>